<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.block.note">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".presentation.App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlockNote">
        <activity
            android:name=".presentation.feature.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.BlockNote.NoActionBar" />
    </application>

</manifest>